.example-card {
  margin: 30px auto;
  width: 90%;
}
.example-card-one {
  margin-top: 10px;
  width: 100px;
  position: absolute;
  top:60px;
  left:90%;
}
.main-div{
  padding: 60px auto;
  margin: 60px auto;
  width:60%;
}
.question-div{}
/*.answer{padding: 10px;margin: 10px;align-items: center;width: 100%;
}
button.mat-raised-button:hover {
  background-color: 'blue';
}


.answer:hover,
.answer:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}
.round-chip{
  margin-top: 10px;
  width: 100px;
  position: absolute;
  top:60px;
  left:5%;
}
.encaps{
  width: 100%;
}*/
button {
  outline: none;

  text-align: center;
  padding: 10px;margin: 10px;align-items: center;width: 100%;
  border-radius: 40px;
  background: #fff;
  border: 2px solid #1ECD97;
  color: #1ECD97;
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease;
}
button:hover {
  color: white;
  background: #1ECD97;
}
button:active {
  letter-spacing: 2px;
}
button:after {
  content: "";
}

.onclic {
  width: 40px;
  padding: auto;
  margin: auto;
  border-color: #bbbbbb;
  border-width: 3px;
  font-size: 0;
  border-left-color: #1ECD97;
  -webkit-animation: rotating 2s 0.25s linear infinite;
          animation: rotating 2s 0.25s linear infinite;
}
.onclic:after {
  content: "";
}
.onclic:hover {
  color: #1ECD97;
  background: white;
}

.validate {
  font-size: 13px;
  color: white;
  background: #1ECD97;
}
.validate:after {
  font-family: "FontAwesome";
  content: "";
}

@-webkit-keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
