<div class="example-card">


    <section class="example-section">
      <mat-progress-bar
          class="example-margin"
          [color]="color"
          [mode]="mode"
          [value]="value"
          [bufferValue]="bufferValue">
      </mat-progress-bar>
    </section>
  </div>

  <div class="round-chip">
    <mat-chip-list>
      <mat-chip color="warn" selected>Round 1</mat-chip>
    </mat-chip-list>
  </div>
<div class="example-card-one">
 <div style="position: absolute; left:20px;top:20px"><p [style.color]="expression" style="font-size: 16px;font-weight: bold;" >{{display}}</p></div>
  <mat-progress-spinner
      [diameter]="60"
      class="example-margin"
      [color]="color"
      [mode]="mode1"
      [value]="value1">
  </mat-progress-spinner>

  </div>

  <br/>
  <ng-container *ngIf="isVisible$ | async">
  <div class="main-div">
    <div class="question-div">
     <h1 >{{questions[questionNumber].Question}}?</h1>
    </div>
    <div class="answers">
      <button mat-raised-button  (click)="response(questions[questionNumber].Question,questions[questionNumber].Answers[0])" class="answer">{{questions[questionNumber].Answers[0]}}</button>
      <br/>
      <button mat-raised-button (click)="response(questions[questionNumber].Question,questions[questionNumber].Answers[1])" class="answer">{{questions[questionNumber].Answers[1]}}</button>
      <br/>
      <button mat-raised-button (click)="response(questions[questionNumber].Question,questions[questionNumber].Answers[2])" class="answer">{{questions[questionNumber].Answers[2]}}</button>
      <br/>
      <button mat-raised-button (click)="response(questions[questionNumber].Question,questions[questionNumber].Answers[3])" class="answer">{{questions[questionNumber].Answers[3]}}</button>
      <br/>
    </div>
  </div>
</ng-container>
