<div
  class="app-splash-screen"
  [ngStyle]="{ left: windowWidth }"
  *ngIf="showSplash"
>
  <!--<div class="app-splash-inner">
    <div class="app-logo"></div>
    <div class="app-label">Splashy</div>
    <div class="app-loader"></div>
  </div>-->
  <div id="first-splash" style="display: flex;
align-items: center;
justify-content: center;
height: 100%;
width: 100%;
overflow: hidden;background-color: white;z-index: 5;position: absolute;"> <img src="/assets/mmcz splash.gif" class="gif" alt="GIF"></div>
</div>
