.router-wrapper  {
	position:  relative;
	overflow:  hidden;
	width:  100vw;
	height:  100vh;
	perspective:  1200px;
	transform-style:  preserve-3d;
}
:host  {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
}
